<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstSwift0423.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EA78B701CCB51F4003DCAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EA78B841CCB51F4003DCAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EA78B8F1CCB51F4003DCAB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
